$initType: "normal";

@mixin _btn($type: $initType) {
    color: $white;
    display: inline-block;
    text-align: center;
    background: linear-gradient(90deg, $red 0%, $blue 100%);
    transition: background 0.5s;
    &:hover {
        color: $blue;
        background: $white;
        border: 2px solid $blue;
    }
    @if ($type == "small") {
        font-size: (17 / $vw-sp) * 100vw;
        border-radius: (69 / $vw-sp) * 100vw;
        padding: (14 / $vw-sp) * 100vw (36 / $vw-sp) * 100vw;
        @media #{$mq-pc} {
            font-size: (18 / $vw-pc) * 100vw;
            border-radius: (69 / $vw-pc) * 100vw;
            padding: (26 / $vw-pc) * 100vw (39 / $vw-pc) * 100vw (26 / $vw-pc) * 100vw (33 / $vw-pc) * 100vw;
        }
        &:hover {
            padding: calc(3.7333333333vw - 2px) calc(9.6vw - 2px);
            @media #{$mq-pc} {
                padding: calc(2.03125vw - 2px) calc(3.046875vw - 2px) calc(2.03125vw - 2px) calc(2.578125vw - 2px);
            }
        }
    } @else if ($type == "large") {
        font-size: (18 / $vw-sp) * 100vw;
        padding: (23 / $vw-sp) * 100vw (65 / $vw-sp) * 100vw;
        border-radius: (69 / $vw-sp) * 100vw;
        @media #{$mq-pc} {
            font-size: (28 / $vw-pc) * 100vw;
            padding: (37 / $vw-pc) * 100vw (93 / $vw-pc) * 100vw;
            border-radius: (69 / $vw-pc) * 100vw;
        }
        &:hover {
            padding: calc(6.1333333333vw - 2px) calc(17.3333333333vw - 2px);
            @media #{$mq-pc} {
                padding: calc(2.890625vw - 2px) calc(7.265625vw - 2px);
            }
        }
    }
}
