@mixin _headline {
    position: relative;
    text-align: center;
    font-size: 32px;
    @media #{$mq-pc} {
        font-size: 48px;
    }
    &::before {
        position: absolute;
        content: "";
        display: inline-block;
        background: url(../../images/title-icon.svg) no-repeat  center / contain;
        width: 85px;
        height: 78px;
        top: 52px;
        left: 50%;
        transform: translateX(-50%);
        @media #{$mq-pc} {
            top: 72px;
            width: 148px;
            height: 135px;
        }
    }
}
